/* ABOUT US */

.imgAboutUs{
    background-image: url(../img/aboutUs2sm.jpg);
    background-position: cover;
    background-repeat: none;
    height: 65vh;
    margin-bottom: 5rem;
}

.textAboutUs{
    font-size: 2.5rem;
    padding: 5rem;
}

.aboutUsContainer{
    background-image: url(../img/fotografa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 7rem;
    height: 65rem;
    h1{
        line-height: 20rem;
    }
}