@use 'assets/var';
@use 'assets/header';
@use 'index';
@use 'aboutUs';
@use 'videos';
@use 'galery';
@use 'contact';
@use 'assets/footer';
@use 'assets/mediaqueries';

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Serif Pro', serif;
}

html{
    font-size: 62.5%;
}

.bodyContainer{
    padding: 0 8rem 0 8rem;
}

// MEDIA QUERIES

// 768px
@media screen and (max-width:768px){
    .bodyContainer{
        padding: 0 6rem 0 6 rem;
    }

    .mainContainer{
        height: 44rem;
            h1{
                line-height: 7rem;
                font-size: 5.5rem;
                padding-top: 13rem;
            }
            p{
                font-size: 2.5rem;
            }
    }  

    .sectionAboutUs{
        height: 44rem;
        h2{
            line-height: 7rem;
            font-size: 5.5rem;
            padding-top: 13rem;
        }
        p{
            font-size: 2.2rem;
        }
    }

    .sectionVideos{
        h3{
            font-size: 5rem;
        }
        p{
            font-size: 2rem;
        }
    }

    .footerContentContainer{
        margin-right: 3rem;
        p{
            font-size: 1.2rem;
        }
    }
    
    #footer{
        section{
            padding: 2rem 1rem;
        }
    }
    
    .galeryContainer{
        padding: 2rem 0 8rem 0;
    }

    .contactForm{
        margin: 2rem 3rem;
        h1{
            font-size: 2.3rem;
            padding-top: 0;
            line-height: 3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .aboutUsText{
        height: 32rem;
    }
}

/* 600px */
@media screen and (max-width:600px){
    .bodyContainer{
        padding: 0 5rem 0 5rem;
    }

    .mainContainer{
        height: 40rem;
        h1{
            line-height: 9rem;
            font-size: 400%;
        }
        p{
            font-size: 2rem;
        }
    }

    .sectionAboutUs{
        height: 38rem;
        h2{
            font-size: 4.5rem;
        }
        p{
            font-size: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            
        }
    }

    .aboutUsText{
        height: 31rem;
        p{
            font-size: 1.8rem;
        }
    }

    .sectionVideos{
        h3{
            font-size: 4.5rem;
        }
        p{
            font-size: 1.5rem;
        }
    }

    .footerContentContainer{
        margin-right: 6rem;
        p{
            font-size: 1.3rem;
        }
    }

    .sectionContainer{
        height: 33rem;
        padding: 0 10rem;
    }

    .contactForm{
        margin: 2rem 3rem;
        h1{
            font-size: 2.3rem;
        }
    }    
}

// 480px
@media screen and (max-width:480px){
    .bodyContainer{
        padding: 0 3rem 0 3rem;
    }

    .mainContainer{
        height: 47rem;
        margin: 0 0.5rem 5 0.5rem;
        h1{
            line-height: 8rem;
            font-size: 234%;  
        }
        p{
            font-size: 2rem;
        }
    }

    .sectionAboutUs{
        height: 38rem;
        margin-bottom: 6px;
        h2{
            font-size: 4.5rem;
        }
        p{
            font-size: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            
        }
    }

    .sectionVideos{
        line-height: 10rem;
    }

    .aboutUsText{
        height: 35rem;
        p{
            font-size: 1.3;
        }
    }

    .footerContentContainer{
        margin-right: 0;
    }
}

// 320px
@media screen and (max-width:480px){
    .bodyContainer{
        padding: 0;
    }

}


