/* FOOTER */

#footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // height: 10rem;
    z-index: 99;
    
    section{
        height: fit-content;
        width: 100%;
        padding: 2rem 4rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.footerContentContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.5rem;
    margin-right: 12rem;
    p{
        color: black;
        font-size: 1.5rem;
        text-shadow: 1px 1px #fff;
    }
}


// .footerMenu{
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//     width: 45%;
//     font-size: 1.2rem;
// }

.socialContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: auto;
    // margin-left: 8rem;
    a{
        height: 100%;
        width: 40px;
        background-image: url(../img/facebook.png);
        background-size: 60%;
        background-position: center;
        margin-right: 1rem;
        background-repeat: no-repeat;
    }
}

// .socialLink{
//     height: 100%;
//     width: 40px;
//     background-image: url(../img/facebook.png);
//     background-size: 60%;
//     background-position: center;
//     margin-right: 1rem;
//     background-repeat: no-repeat;
// }

footer .socialLink:nth-of-type(2){
    background-image: url(../img/instagram.png);
    background-size: 60%;
}

footer .socialLink:nth-of-type(3){
    background-image: url(../img/Youtube.png);
    background-size: 60%;
}
