// MEDIA QUERIES

// 768px
@media screen and (max-width:768px){
    .mainContainer{
        height: 44rem;
            h1{
                line-height: 7rem;
                font-size: 5.5rem;
                padding-top: 13rem;
            }
            p{
                font-size: 2.5rem;
            }
    }  

    .sectionAboutUs{
        height: 44rem;
        h2{
            line-height: 7rem;
            font-size: 5.5rem;
            padding-top: 13rem;
        }
        p{
            font-size: 2.2rem;
        }
    }

    .sectionVideos{
        h3{
            font-size: 5rem;
        }
        p{
            font-size: 2rem;
        }
    }

    .footerContentContainer{
        margin-right: 3rem;
        p{
            font-size: 1.2rem;
        }
    }
    
    #footer{
        section{
            padding: 2rem 1rem;
        }
    }
    
    .galeryContainer{
        padding: 2rem 0 8rem 0;
    }

    .contactForm{
        margin: 2rem 3rem;
        h1{
            font-size: 2.3rem;
            padding-top: 0;
            line-height: 3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }
}

/* 600px */
@media screen and (max-width:600px){
    .bodyContainer{
        padding: 0 5rem 0 5rem;
    }

    .mainContainer{
        height: 40rem;
        h1{
            line-height: 9rem;
            font-size: 400%;
        }
        p{
            font-size: 2rem;
        }
    }

    .sectionAboutUs{
        height: 38rem;
        h2{
            font-size: 4.5rem;
        }
        p{
            font-size: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            
        }
    }

    .sectionVideos{
        h3{
            font-size: 4.5rem;
        }
        p{
            font-size: 1.5rem;
        }
    }

    .footerContentContainer{
        margin-right: 6rem;
        p{
            font-size: 1.3rem;
        }
    }
    .cardContainer{
        width: 60%;
        grid-template-columns: repeat(2,1fr);
    }

    .sectionContainer{
        height: 33rem;
        padding: 0 10rem;
    }

    .contactForm{
        margin: 2rem 3rem;
        h1{
            font-size: 2.3rem;
        }
    }    
    // .footerContainer{
    //     padding: 2rem 1rem;
    // }
    
    // .footerMenu{
    //     display: flex;
    //     justify-content: center;
    //     align-items: flex-start;
    //     width: 45%;
    //     font-size: 1.2rem;
    // }

    // .footerContentContainer{
    //     width: 17rem;
    // }
}


@media screen and (max-width:480px){
    
    .mainContainer{
        height: 17rem;
    }
    
    .mainContainer h1{
        line-height: 42rem;
        font-size: 234%;
        font-weight: bold;
    }

    .subtitle{
        padding-bottom: 1rem;
    }

    .subtitle2{
        font-size: 1.7rem;
    }

    .sectionMonth{
        margin-top: 8rem;
    }

    .cardContainer{
        grid-template-columns: 1fr;
        width: 51%;
    }

    .sectionContainer{
        height: 45rem;
        padding: 0 7rem;
    }

    .aboutUsContainer{
        height: 17rem;
    }
    
    .aboutUsContainer h1{
        line-height: 42rem;
        font-size: 266%;
        font-weight: bold;
    }

    .aboutUsSection{
        margin-top: 8rem;
        padding: 0 8rem;
        height: 60rem;
    }

    .productContainer{
        height: 17rem;
    }

    .productContainer h1{
        line-height: 42rem;
        font-size: 266%;
        font-weight: bold;
    }

    .footerContainer{
        padding: 2rem 1rem;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
    }
    
    .footerMenu{
        justify-content: center;
        font-size: 1.3rem;
    }

    .footerContentContainer{
        width: 17rem;
        align-items: center;
    }

    .socialLink{
        margin-right: 0;
    }

}
